{% extends 'base.html' %}

{% block head %}
<title>LesBonnesAffaires.fr</title>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">LesBonnesAffaires.fr</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Annonces</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/newPost">Poster Une Annonce</a>
          </li>
        </ul>
        <form>
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>

{% for post in posts %}

<div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 fw-normal">{{ post.title }}</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">{{ post.price }} €<small class="text-muted"></small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <span class="input-group-text">{{ post.description }}</span>
        <br>
        <p>Vendeur: {{ post.username }} | Contact: <a href="mailto:{{ post.mail }}">{{ post.mail }}</a></p>
      </ul>
      <a href="post/delete/{{post.id}}" method="delete_post" class="btn btn-outline-danger">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
        Delete
    </a>
    </div>
  </div>

{% endfor %}

{% endblock %}