{% extends 'base.html' %} {% block head %}
<title>LesBonnesAffaires.fr</title>
{% endblock %} {% block body %}


<div class="p-5">
  <div class="container border border-1 rounded p-3">
    <form action="/annonce/create" method="POST" enctype="multipart/form-data">

      <div class="input-group mb-3">
        <!-- <span class="input-group-text">Prénom</span>
        <input type="text" class="form-control" placeholder="Jean" aria-label="prenom"
          aria-describedby="basic-addon1" />
        <span class="input-group-text">Nom</span>
        <input type="text" class="form-control" placeholder="Dupont" aria-label="nom"
          aria-describedby="basic-addon1" /> -->
        <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
            <path
              d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
          </svg></span>
        {% if user.is_authenticated %}
        <input name="username" type="text" class="form-control" placeholder="Votre pseudonyme" aria-label="Username"
          aria-describedby="basic-addon1" value="{{ user.username }}" required/>
        {% else %}
        <input name="username" type="text" class="form-control" placeholder="Votre pseudonyme" aria-label="Username"
          aria-describedby="basic-addon1" required/>
        {% endif %}
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Mail</span>
        {% if user.is_authenticated %}
        <input name="mail" type="email" class="form-control" placeholder="example" aria-label="mail" value="{{ user.mail }}" required/>
        {% else %}
        <input name="mail" type="email" class="form-control" placeholder="example" aria-label="mail" required/>
        {% endif %}
      </div>

      <div class="input-group mb-3" style="justify-content: space-between;">
        <span class="input-group-text">Prix</span>
        <input name="price" type="text" class="form-control" aria-label="prix" required/>
        <span class="input-group-text">€</span>
        <span class="input-group-text">Etat du bien</span>
        <select name="assetCondition" class="form-select" id="inputGroupSelect01" required>
          <option selected>Sélectionner...</option>
          <option value="5">Neuf</option>
          <option value="4">Très bon état</option>
          <option value="3">Bon état</option>
          <option value="2">Assez bon état</option>
          <option value="1">Etat médiocre</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Titre de l'annonce</span>
        <input name="title" type="text" class="form-control" placeholder="Vends (bien)" required>
      </div>

      <div class="input-group">
        <span class="input-group-text">Description du bien</span>
        <textarea name="description" class="form-control" aria-label="Description du bien"
          placeholder="Bonjour/Bonsoir, Je vends mon bien car .... il n'a servi que .... remise en main propre/livraison" required></textarea>
      </div>

      <div class="mb-3">
        <br>
        <label for="formFile" class="form-label text-light">Ajouter une image</label>
        <input name="image" class="form-control" type="file" id="formFile" required>
      </div>

      <div class="input-group mt-3">
        <input type="submit" class="btn btn-outline-success" value="Poster">
      </div>

    </form>
  </div>
</div>



{% endblock %}